.animation-container {
    position: relative;

    --anim-speed: 1s;
    --initial-color: black;
    --flash-color: white;
}

.animation-grid {
    display: grid;
    position: absolute;
    inset: 0;

    div {
        background-color: var(--initial-color);
        animation-duration: var(--anim-speed);
        animation-delay: var(--anim-delay);
        animation-fill-mode: both;
        animation-name: flash;
    }
}

@keyframes flash {
    0% {
        background-color: var(--initial-color);
    }
    50% {
        background-color: var(--flash-color);
    }
    100% {
        background-color: transparent;
    }
}
